body{
    margin: 0 0 0 0;
    background-image: url("https://phonoteka.org/uploads/posts/2021-06/1624640198_22-phonoteka_org-p-mrachnii-les-oboi-krasivo-24.jpg");
}
header{
    height: 150px;
    display: flex;
    justify-content: space-around;
}
main{
    display: flex;
    justify-content: space-around;
}
h1{
    font-family: 'Diplomata SC', cursive;
    font-size: 50px;
}
table {
    color: white;
    background-color: black;
    border-radius: 10px;
    width: 1000px;
    height: 500px;
    border: 1px solid black;
}
th {
    font-family: 'Diplomata SC', cursive;
    font-size: 20px;
    border-radius: 10px;
    border: 1px solid white;
}
td {
    text-align: center;
    font-family: 'Diplomata SC', cursive;
    font-size: 20px;
    border-radius: 10px;
    border: 1px solid white;
}

